Query:
    type: object
    config:
        fields:
            User:
                type: 'User'
                args:
                    id:
                        description: 'Resolves User using its id.'
                        type: 'Int!'
                resolve: "@=resolver('User', [args['id']])"
            Users:
                type: '[User]'
                resolve: "@=resolver('Users')"
            Message:
                type: 'Message'
                args:
                    id:
                        description: 'Resolves Message using its id.'
                        type: 'Int!'
                resolve: "@=resolver('Message', [args['id']])"